body {
	color: $gris;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: auto;
	word-wrap: break-word;
}
*, *:hover, *:focus {
	outline: none!important;
	-webkit-transition: all ease 0.2s;
	-ms-transition: all ease 0.2s;
	transition: all ease 0.2s;
}
::selection {
	background-color: $select;
	color: $gris;
}
::-moz-selection {
	background-color: $select;
	color: $gris;
}
a {
	color: $gris;
	font-size: 16px;
	font-weight: 400;
}
button {
	background: none !important;
	border: none !important;
	cursor: pointer;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
}
h1 {
	display: none;
}
h2 {
	font-size: 30px;
	font-weight: 300;
	line-height: 50px;

	@include media-breakpoint-up(md) {
		font-size: 48px;
		line-height: 34px;
	}
}
h3 {
	font-size: 20px;
	font-weight: 300;
	line-height: 24px;

	@include media-breakpoint-up(md) {
		font-size: 36px;
		line-height: 40px;
	}
}
h4, .h4 {
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;

	@include media-breakpoint-up(md) {
		font-size: 20px;
		line-height: 26px;
	}
}
h5 {
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
}
p {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
}
strong {
	font-weight: 500;
}