$azul         :  #406eb3;
$blanco       :  #ffffff;
$gris         :  #575756;
$gris_claro   :  #f4f4f4;
$negro        :  #000000;
$rosa         :  #ba2f7d;
$rosa_claro   :  #e3abcb;
$select       :  rgba(227, 171, 203, 0.3);
$dark_shadow  :  rgba(0, 0, 0, 0.2);