.c-carousel {

	.carousel-indicators {

		li {
			background-color: transparent;
			border-radius: 50%;
			border: 1px solid $azul;
			height: 12px;
			margin: 0 6px;
			width: 12px;
		}
		.active {
			background-color: $azul;
		}
	}
	.carousel-caption {
		left: 0;
		position: relative;
		right: 0;
		text-align: left;

		p {
			font-size: 16px;
			font-weight: 300;
			line-height: 20px;

			@include media-breakpoint-up(md) {
				font-size: 24px;
				line-height: 30px;
			}
		}

		@include media-breakpoint-up(md) {
			bottom: 20%;
			left: initial;
			position: absolute;
			right: 15%;
			width: 35% !important;

		}
	}
}