.c-collapse {

	ul {
		border: none;
		list-style: none;
		margin: 60px 0 0;
		transform: none !important;

		@include media-breakpoint-up(md) {
			margin: 0;
			position: initial !important;	
		}

		li button {
			border-left: 5px solid transparent !important;
			color: $gris;	
			height: 60px;
			padding-left: 15px;
			text-align: left;
			white-space: normal;

			&.active, &:hover, &:focus {
				background-color: $gris_claro !important;
				border-left: 5px solid $rosa !important;
				color: $gris;
			}
		}
	}

	button {
		text-align: left;
	}
}