.bg-blanco {
	background-color: $blanco;
}
.bg-gris {
	background-color: $gris_claro;
}
.bg-form {
	background-image: url('../images/bg-form.jpg');
}
.txt-azul {
	color: $azul;
}
.txt-gris {
	color: $gris;
}
.txt-rosa {
	color: $rosa;
}